$bg: #e6e2df;
$navy: #000E28;
$lb: #00254F;
$pink: #fac1be;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

.square {
  width: fit-content;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .main-title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding-bottom: 40px;
    .wedge {
      width: 0%;
      height: inherit;
      background: $navy;
      position: absolute;
      animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
      display: flex;
    }
    h1 {
      color: #fff;
      font-family: 'Poppins';
      font-weight: 300;
      font-size: 4vw;
      -webkit-animation: mainFadeIn 2s forwards;
      -o-animation: mainFadeIn 2s forwards;
      animation: mainFadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative;
      span {
        width:0px;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: $navy;
        -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
        animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        margin-left: 5px;
        margin-top: -10px;
        position: absolute;
        bottom: 13px;
        right: -12px;
      }
    }
  }
  .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
    .wedge {
      width: 0%;
      height: inherit;
      background: $pink;
      position: absolute;
      animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
      animation-delay: 2s;
      display: flex;
    }
    p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      font-weight: 200;
      font-family: 'Lato';
      color: #ffffff;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

html, body {
	height: 100vh;
}

#projects {
  background-image: url('../../assets/hero10-vertical2.jpg');
  background-size: cover;
  background-attachment: fixed;
  // background-image: url('../../assets/speckles.png');
  // background-size: contain;
}

#projects h3, #interests h3, #tech h3 {
  font-size: 120px;
  font-weight: 200;
}

#projects h3 {
  padding: 60px 0 40px;
}

#about {
  /* background-color: #FF938E; */
  /* background-image: url('../../assets/hero9.jpg');
  background-size: cover; */
  /* background-repeat: repeat; */
  /* color: white; */
  /* height: 50vh; */
  background-color: #00254F;
  display: flex;
}

.initials {
  font-size: 40px;
  font-weight: 200;
  // text-shadow: 2px 4px 6px #fac1be;
  color: #fac1be;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

// .initials {
//   font-size: 110px;
//   font-weight: 900;
//   // text-shadow: 2px 4px 6px #fac1be;
//   color: white;
//   -webkit-text-stroke: 4px #fac1be;
//   width: 20%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-evenly;
// }

.about-text p {
  margin: 20px 0;
  width: 70vw;
}

#about .about-text {
  /* color: #93B1B2; */
  color: white;
  /* #93B1B2 */
  height: 100%;
  padding: 3%;
}

.project {
  // height: 90vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  background-color: #000e287c;
  margin: 8% 0;
}

.project:last-of-type, .project:first-of-type {
  margin: 0;
}

.project h4 {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* .project img {
  width: 50%;
} */

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left img {
  width: 100%;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
  width: 40%;
  /* background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 20px black; */
  padding: 20px;
}

.skills-small {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-small i {
  font-size: 40px;
  margin: 5px;
}

.project-text h5 {
  font-size: 18px;
  font-weight: 300;
}

.project-text {
  color: white;
}

.project-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.project-links i {
  font-size: 30px;
}

.project-links a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: #fac1be;
  color: #000E28;
  width: 40%;
  margin: 10px;
  padding: 2%;
  font-weight: 500;
  border-radius: 5px;
}

.skill {
  width: 160px;
  text-align: center;
  margin: 20px 10px;
}

.icon {
  font-size: 70px;
}

#tech {
  color: #fac1be;
  background-color: #000E28;
  // height: 90vh;
}

#tech h3 {
  padding: 60px 0 40px;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 60px 0;
  padding-bottom: 60px;
}

.logo {
  width: 60%;
}

.mockup {
  width: 50vw;
  height: auto;
  padding: 20px 0 20px 40px;
  align-self: center;
  justify-self: center;
}

.focussed {
  display: none;
}

.banner {
  background-image: url('../../assets/hero10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-attachment: fixed;
  background-position: center;
}

/* .hero-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.inner-hero {
  height: 80vh;
  width: 80vw;
  /* opacity: 1; */
  background-image: url('../../assets/hero10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 100px black;
  color: white;
}

nav.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0);

  .container {
    margin: 0;
    max-width: 100vw;
  }

  .navbar-menu {
    // display: flex;
    // justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0);

    .navbar-end {
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      width: 100vw;

      // .navbar-item {
      //   padding: 0;
      // }
    }
  }

  
}

nav.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

#interests {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/hero10-vertical2.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* color: #FF938E; */
}

#interests h3 {
  color: #fac1be;
  padding: 60px 0 40px;
  // margin: 40px 0;
}

#interests div {
  display: flex;
}

#interests p {
  margin: 20px 0;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest:first-of-type {
  /* background-color: #000E28; */
  /* color: white; */
  color: #fac1be;
}

.interest:last-of-type {
  /* background-color: #FF938E; */
  color: #000E28;
}

.interest h4 {
  font-size: 30px;
  margin: 0 0 30px 0;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.travel {
  background-image: url('../../assets/mountains2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 20vh;
}

.interior {
  /* background-image: url('../../assets/interiors2.png'); */
  width: 100%;
  min-height: 20vh;
  background-image: url('../../assets/lamp3.png'), url('../../assets/sofa.png'), url('../../assets/plant.png');
  background-position: left top, center top, right top;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  display: flex;
  flex-direction: column;
  background-color: #000E28;
  padding: 5%;
  align-items: center;
}

.text2 {
  display: flex;
  flex-direction: column;
  background-color: #fac1be;
  /* background-color: #FF938E; */
  padding: 5%;
  height: 100%;
  align-items: center;
}

h3 {
  text-align: center;
  font-size: 40px;
  color: #fac1be;
  
}

#contact {
  background-color: #000E28;
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

#contact a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 50px 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#contact a i {
  font-size: 80px;
  margin-bottom: 15px;
}

.graphic {
  // background-image: url('../../assets/graphic.png');
  // background-size: auto;
  // width: 100vw;
  // height: 50vh;
  // background-color: #00254F;
  display: flex;
  flex-wrap: wrap;
}

.graphic .navy {
  background-color: $navy;
  height: 40vh;
  width: 50%;
}

.graphic .pink {
  background-color: $pink;
  height: 40vh;
  width: 50%;
}

.graphics img {
  height: 40vh;
  width: 33.33%;
}

.graphics {
  display: flex;
  position: absolute;
}

// TABLET

@media (max-width: 1024px) {

  #projects h3, #interests h3, #tech h3 {
    font-size: 80px;
  }

  #contact a {
    p {
      display: none;
    }

    i {
      font-size: 60px;
    }
  }

  .project-links {
    flex-direction: column;
    align-items: center;
  }

  .project-links a {
    width: 70%;
    padding: 10px 20px;
  }

  .project-text {
    width: 45vw;
  }

  .interior {
    background-image: url('../../assets/sofa.png');
    background-position: center;
  }
}

@media (max-width: 991px) {

  .banner {
    justify-content: space-between;
  }

  .inner-hero {
    margin-top: 10vh;
  }

  nav.navbar {
    position: absolute;

    .navbar-menu {
      .navbar-end {
        background-color: $navy;
        flex-direction: column;
      }
    }

    .navbar-burger {
      color: white;
      margin-right: 30px;
      margin-top: 10px;

      span {
        width: 40px;
        height: 2px;
      }
    
      span:nth-child(1) {
        top: calc(50% - 10px);
      }
    
      span:nth-child(2) {
        top: calc(50%);
      }
    
      span:nth-child(3) {
      top: calc(50% + 10px);
      }
    }

    .navbar-burger.is-active span:nth-child(1) {
      top: calc(50% - 6px)
    }
  
    .navbar-burger.is-active span:nth-child(3) {
      top: calc(50% + 4px)
    }
  }

  .square .main-title h1 {
    font-size: 50px;
  }

  .project {
    flex-direction: column;
    align-items: center;

    .mockup {
      padding: 20px;
      width: 100vw;
    }

    .project-text {
      width: 90vw;
      padding: 20px 0;

      h5 {
        margin-top: 20px;
      }
    }

    .project-links {
      width: 60%;
    }
  }

}

// MOBILE

@media (max-width: 575px) {

  .square .main-title h1 {
    font-size: 30px;
  }

  .inner-hero {
    background-image: none;
    // box-shadow: none;
  }

  .square .role p {
    font-size: 24px;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }

  .initials {
    flex-direction: row;
    width: 90vw;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
  .about-text p {
    width: 90vw;
  }

  #projects h3, #interests h3, #tech h3 {
    font-size: 40px;
    letter-spacing: 2px;
  }

  .icon {
      font-size: 60px;
  }

  .all-skills {
    margin: 0;
  }

  .skill {
    width: 20%;
  }

  .project {
    h4 {
      font-size: 20px;
    }

    .project-links {
      width: 70%;
    }
  }

  .project-links a {
    width: 60vw;
  }

  #interests div {
    display: block;
  }

  .interest h4 {
    text-align: center;
  }

  .interest:last-of-type {
    margin-top: 5vh;
  }

}
